
.header-area{
	background-color: #2A2A2A;
	color: #2A2A2A;
	
}

#inicio{
	background-image:url(../img/camera_lens-wallpaper-1280x800.jpg);
	background-color: rgba(0,0,0,0.77);
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	color: aliceblue;
	
}

h1{
	color: aliceblue;
	text-align: left;
	margin-top: 10px;
	padding: 10px;
	font-size: 30px;
		
}

#inicio h2{
	font-size: 150px;
	padding: 180px;
	text-align: center;
	
}


h2{
	color: aliceblue;
	text-align: right;
	margin-top: 10px;
	padding: 10px 20px 0px 40px;
	font-size: 50px;
		
}

.bienvenidos{
	text-align: center;
}


#about-me{
	background-color: #2A2A2A;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	color: aliceblue;
	
}

#servicios{
	background-color: #FFFFFF;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	color:#2F2F2F;
	
	
}

#servicios h1{
	color: #282828;
	
	
}

#proyectos{
	background-color: #2A2A2A;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
	color: aliceblue;
	
}


#contacto{
	background-image:url(../img/free-white-wallpaper_021209710_265.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px;
	color:#0000001
	
}

#contacto h1{
	color: #282828;
}
footer{
	background-color: #2A2A2A ;
	color:aliceblue;
	padding: 20px;
	text-align: center;
	
}

.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.header-area.sticky .navbar-light{
    background-color: #884bdf;
}


.app-carousel {

    padding: 0 6%;
	margin-top: 50px;

}

.app-carousel .center .single-shot {

    opacity: 1;

    transform: scale(1);

}

.app-carousel .single-shot {

    opacity: 0.8;

    transform: scale(0.8);

}



.app-carousel .owl-dots {

    text-align: center;

}

.app-carousel .owl-dot {

    height: 11px;

    width: 11px;

    border: 2px solid #a49fba !important;

    border-radius: 50%;

    margin: 35px 6px;

}

.app-carousel .owl-dot.active {

    background-color: #fb397d;

    border: 0 !important;

}

.owl-carousel .owl-item img{
	width: inherit;
}

.app-carousel h4{
	color: #f54f15;
	font-weight: 600px;
}

.app-carousel h5{
	color: #000000;
	font-weight: 600px;
	font-size: 14px;
}

